@import "maps";
@media only screen and (max-width:850px){
    nav{
        margin-left: 30vw;
    }
    main{
        width: 100vw;
    }
    .lista{
        width: 100%;
        justify-content: center;
    }
    .navegable{
        width: 50%;
        font-size: 0.7em;
        justify-content: space-between;
    }
    .video{
        display: none;
    }
    .lista li{
        margin-left: 5px;
    }
    .lista a{
        border: none;
    }
    #informacion, .titulo, .grid{
        width: 100%;
        margin-left: 0px;
    }
    .pie-ppal{
        background-color: #000000;
        .text{
            display: none;
        }

    }
    #categorias{
        display: none;
    }
    #nosotros p, #nosotros h3, #pedidos h3, #pedidos p{
        width: 100vw;
    }
    #mobile{
        display: flex;
        background-color: map-get($map: $basico, $key: color-ppal);
        margin: 0% 5%;
        a{
            margin-left: 1%;
            font-size: map-get($map: $basico, $key:tamaño-ppal );
            color:black;
        }
    }
}

@media only screen and (min-width:851px){
    #mobile{
        display: none;
    }
    .video{
        width: 15vw;
        margin-left: 35%;
    }
    /*Footer pagina principal*/
    .principal{
        .pie-ppal{
            color:#fff;
            font-size: var(--mainLetra);
            background-color: rgba(0, 0, 0, 0.842);
            display: flex;
            padding-left: 1em;
            .footer{
                width: 65%;
                display:flex;
                .redes{
                    a{
                        color:white;
                        margin-right: 5em;
                    }
                }
            }
        }
    }
    /*Fin footer pagina principal*/
}